<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#" />
        <title>Lipson</title>
    </head>
    <body>
        <h1>
            Cantus Firmus Generator
        </h1>
        <button id="get-cantus-firmus-button" onclick="getCantusFirmus()">
            <span>Generate</span>
        </button>
        <button id="play-cantus-firmus-button" onclick="playCantusFirmus()" disabled>
            <span>Play</span>
        </button>
        <span id="counterpoint-header">
        </span>
        <h4>
            A cantus firmus generator. It adheres to the following rules:
            <ol>
                <li>Length must be 8-16 notes.</li>
                <li>First and last note must be tonic</li>
                <li>Final note must typically be approached by a step above, occasionally by a half step below.</li>
                <li>The leading tone always progresses to the tonic.</li>
                <li>All notes must be in the correct key.</li>
                <li>All note-to-note progressions are melodic consonances.</li>
                <li>No note may be followed by the same note.</li>
                <li>Range (interval between lowest and highest notes) of no more than a tenth.</li>
                <li>No more than 2 melodic motions larger a 4th or larger.</li>
                <li>Any large leaps (a 4th or larger) are followed by stepwise motion in the opposite direction.</li>
                <li>A single climax (high point) that appears only once in the melody.</li>
            </ol>
        </h4>
    </body>
    <div id="cantus-firmus-canvas"></div>
    <script src="https://npmcdn.com/vexflow/releases/vexflow-debug.js"></script>
    <script src="@controllers.routes.Assets.at("js/midi.min.js")"></script>
    <script src="@controllers.routes.Assets.at("js/teoria/teoria.js")"></script>
    <script type="text/javascript">
       const getCantusFirmusButton = document.getElementById("get-cantus-firmus-button");
       const playCantusFirmusButton = document.getElementById("play-cantus-firmus-button");
       const counterpointHeader = document.getElementById("counterpoint-header");
       let cantusFirmus;

        const getCantusFirmus = async () => {
            getCantusFirmusButton.disabled = true;
            const staff = document.getElementById('cantus-firmus-canvas');
            while (staff.hasChildNodes()) {
                staff.removeChild(staff.lastChild);
            }
            counterpointHeader.innerHTML = "Loading...";

            await fetch(window.location.href.replace("/projects", ""))
                .then(async response => {
                    const cantusFirmusResult = await response.json();
                    counterpointHeader.innerHTML = "";
                    cantusFirmus = cantusFirmusResult.cantus_firmus;

                    const VF = Vex.Flow;

                    // future work:
                    // - choose a voice/clef!
                    //     - soprano, alto, tenor, bass, or generic (alto clef)
                    // - choose a key!
                    //
                    const div = document.getElementById("cantus-firmus-canvas")

                    const renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);
                    renderer.resize(cantusFirmus.length * 100, 500);
                    const context = renderer.getContext();

                    cantusFirmus.forEach((note, index) => {
                        const stave = new VF.Stave(index * 100, 0, 100);
                        if (index === 0) {
                            stave.addClef("bass");
                        } else if (index === cantusFirmus.length - 1) {
                            stave.setEndBarType(3);
                        }
                        stave.setContext(context).draw();

                        const staveNote = new VF.StaveNote({
                            keys: [note],
                            duration: "w",
                            clef: "bass"
                        });

                        if (note.includes("#")) {
                            staveNote.addAccidental(0, new VF.Accidental("#"));
                        } else if ((note.charAt(0) !== "b" && note.includes("b")) || (note.charAt(0) === "b" && note.split("b").length === 3)) {
                            staveNote.addAccidental(0, new VF.Accidental("b"));
                        }
                        VF.Formatter.FormatAndDraw(context, stave, [staveNote]);
                    });
                    getCantusFirmusButton.disabled = false;
                    playCantusFirmusButton.disabled = false;
                });
        }

        const playCantusFirmus = () => {
            counterpointHeader.innerHTML = "Playing...";
            getCantusFirmusButton.disabled = true;
            playCantusFirmusButton.disabled = true;
            MIDI.loadPlugin({
                soundfontUrl: "../assets/js/soundfont/",
                instrument: "acoustic_grand_piano",
                instruments: [ "acoustic_grand_piano" ],
                onsuccess: () => {
                    MIDI.setVolume(0, 127);
                    let i = 0
                    const playLoop = () => {
                        setTimeout(function () {
                            MIDI.noteOn(0, teoria.note(cantusFirmus[i].replace("/", "")).midi(), 127, 0);
                            i += 1;
                            if (i < cantusFirmus.length) {
                                playLoop();
                            } else {
                                getCantusFirmusButton.disabled = false;
                                playCantusFirmusButton.disabled = false;
                                counterpointHeader.innerHTML = "";
                            }
                        }, 1000);
                    }
                    playLoop();
                }
            });
        }
    </script>
</html>
