<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#" />
        <title>Lipson</title>
    </head>
    <body>
        <h1>
            Counterpoint Generator
        </h1>
        <button id="get-cantus-firmus-button" onclick="getCantusFirmus()">
            <span>Generate</span>
        </button>
        <span id="counterpoint-header">
        </span>
    </body>
    <div id="cantus-firmus-canvas"></div>
    <script src="https://npmcdn.com/vexflow/releases/vexflow-debug.js"></script>
    <script src="@controllers.routes.Assets.at("js/midi.min.js")"></script>
    <script src="@controllers.routes.Assets.at("js/teoria/teoria.js")"></script>
    <script type="text/javascript">
        const getCantusFirmus = async () => {
            const getCantusFirmusButton = document.getElementById("get-cantus-firmus-button");
            getCantusFirmusButton.disabled = true;
            const staff = document.getElementById('cantus-firmus-canvas');
            while (staff.hasChildNodes()) {
                staff.removeChild(staff.lastChild);
            }
            const counterpointHeader = document.getElementById("counterpoint-header");
            counterpointHeader.innerHTML = "Loading...";

            await fetch(window.location.href.replace("/projects", ""))
                .then(async response => {
                    const cantusFirmusResult = await response.json();
                    counterpointHeader.innerHTML = "";
                    const cantusFirmus = cantusFirmusResult.cantus_firmus;

                    const VF = Vex.Flow;

                    // future work:
                    // - choose a voice/clef!
                    //     - soprano, alto, tenor, bass, or generic (alto clef)
                    // - choose a key!
                    //
                    var div = document.getElementById("cantus-firmus-canvas")

                    var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);
                    renderer.resize(cantusFirmus.length * 100, 500);
                    var context = renderer.getContext();

                    cantusFirmus.forEach((note, index) => {
                        const stave = new VF.Stave(index * 100, 0, 100);
                        if (index === 0) {
                            stave.addClef("bass");
                        } else if (index === cantusFirmus.length - 1) {
                            stave.setEndBarType(3);
                        }
                        stave.setContext(context).draw();

                        const staveNote = new VF.StaveNote({
                            keys: [note],
                            duration: "w",
                            clef: "bass"
                        });

                        if (note.includes("#")) {
                            staveNote.addAccidental(0, new VF.Accidental("#"));
                        } else if ((note.charAt(0) !== "b" && note.includes("b")) || (note.charAt(0) === "b" && note.split("b").length === 3)) {
                            staveNote.addAccidental(0, new VF.Accidental("b"));
                        }
                        VF.Formatter.FormatAndDraw(context, stave, [staveNote]);
                    });


                    console.log(cantusFirmus);
                    MIDI.loadPlugin({
                        soundfontUrl: "../assets/js/soundfont/",
                        instrument: "acoustic_grand_piano",
                        instruments: [ "acoustic_grand_piano" ],
                        onsuccess: () => {
                            MIDI.setVolume(0, 127);
                            let i = 0
                            const playLoop = () => {
                                setTimeout(function () {
                                    MIDI.noteOn(0, teoria.note(cantusFirmus[i].replace("/", "")).midi(), 127, 0);
                                    i += 1;
                                    if (i < cantusFirmus.length) {
                                        playLoop();
                                    } else {
                                        getCantusFirmusButton.disabled = false;
                                    }
                                }, 1000);
                            }
                            playLoop();
                        }
                    });
                });
        }
    </script>
</html>
