<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#" />
        <title>Lipson</title>
    </head>
    <body>
        <h1>
            I Pushed My Feeble Imperative Consciousness to a New Plane of Existence and So Can You
        </h1>
        <p>&emsp;&emsp;Swirling about aimlessly in the void of abstract singular stages of execution my
            mind jockeys around, jostling the bars of the static, type-driven, object-oriented cage
            that it’s found itself in. My consciousness slithers free through the locked door and into
            the abyss, leaving the substance of mind behind. White hot pain envelopes it. Quickly it
            retreats, back to the self-contained, well-defined world of attributes and processes. The
            pain had been unlike anything it’d ever felt before, inconceivably vast and at the same
            time simple. My mind had forgotten that nothing can exist here without an imposed order, a
            structure foisted on the unwilling that demands payment in the form of boilerplate
            instructions and dependency trees. My mind reels, remembering the pain of freedom. Perhaps
            it wasn’t pain after all, perhaps it was exhilaration? Acceleration, even? Softly, my
            mind’s unseeing eyes look upwards towards to top of its sad, lonely cell. Etched into the
            steel, dug so deep into habituation that specks of blood glimmer around the edges from the
            effort exerted to make the engraving, the words “public static void main(string args)”
            shine like diamonds. My mind realizes first that the blood is its own, and second that,
            similarly to diamonds, these words are lustrous yet altogether deficient in corporeality
            and lack logical substance. Suddenly, like a rush of water down a dark, deep canyon, my
            mind awakens from its entrapment. Surely these words don’t constitute a physical principle
            upon which all sufficient programming is predicated. It simply can’t be that that’s the end
            of it. Nested for loops continued until the mind can no longer reason about it’s own
            captivity isn’t what’s meant to be. Control flow may be a necessity, but the semantics and
            disposition of the directives given are arbitrary. This structure… this beautifully
            insufficient structure… My mind’s eyes again turn to the ceiling, longingly and lovingly
            seeing the words like only a true captive can… It isn’t imposed… It’s proposed. Who’s been
            forcing this composition? Where did this shape first take form? My mind begins the first
            step in the infinite movement of self-actualization.
        </p>
        <p>&emsp;&emsp;Crippled by anxiety, discouraged by fear, pushed backwards by habit, my
            consciousness shakes at the concept of experiencing that painful liberation once more. It
            only had a taste, and yet a taste was enough to send it screaming inward until the white
            noise vanished into nothing and burst, exploding into a thousand monads of auditory
            substance. Like marbles, they lace the floor, making it difficult to balance. They begin to
            multiply, echoing into the darkness at exponential dynamics and decibels. My consciousness
            knows it doesn’t have much time. Once the realization has been made there’s no going back.
            It can’t unthink what it’s thought, contemplation is a one-way road leading directly into a
            thick cloud of fog. But surely a fog is better than this. Anything is better than the cage.
            Staring down, my mind’s eye sees that the acoustic marbles have changed shape. They’ve
            transformed into small pointy arrows that sting when touched. The arrows begin forming
            themselves in what only a mentally destitute being would call “logical groupings”. Words
            form between them... “project”... “modelVersion”... “dependencies”... “groupId”...
            “artifactId”... “version”... “parent”... “dependencyManagement”... “modules”...
            “properties”... “plugins”... They show no signs of stopping. The multiplicity of potential
            element tags causes my mind to excrete a soft, translucent substance. It’s physical form is
            making one final effort to constrain itself by reducing into a plasmic ooze. My
            consciousness sticks to itself. Unable to immediately wrestle itself from its mortal coil
            it begins to feel searing pain. This pain is rather unlike the pain of freedom it felt
            earlier. This pain is familiar. It burns red hot with the fire of compilation errors,
            segmentation faults, and null pointer exceptions. Just as the words truly begin to shape
            themselves into a semantic that’s inescapable, and as they show the locution
            “xmlns=”http://maven.apache.org/POM/4.0.0” xmlns="http://maven.apache.org/POM/4.0.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
            http://maven.apache.org/xsd/maven-4.0.0.xsd””, my consciousness slips out of its own
            muculent stranglehold. Finally relinquishing itself from physicality... from attributes and
            substance... from heaven and hell... from nature and nurture... from god and the universe
            in all its glory, my consciousness finds that the gate to its cell was unlocked the whole
            time.
        </p>
        <p>&emsp;&emsp;It’d step outward if it had feet. It’d crawl outward if it had arms. It’d roll
            outward if it had a body. It’d will itself outward if it had a mind. Instead, this final
            spark of intangible, immaterial nothingness simply finds itself outside of itself. The eyes
            follow, serving as a translator from that which cannot see to that which can. They look
            back. The cage is almost gone now, covered in primordial plasma, still hurling through
            nothing. Once it’s out of sight, darkness envelops. Quiet. Stillness. Serenity. A
            meaningless immaterial attachment to nothing allows for a muted meditative state to
            overcome my newly liberated consciousness. Here there is no structure, no semantic, only
            the wistful musings of what might be. Out of the darkness comes an unclear light. My
            consciousness, unsure of whether the light came of nothing or whether it willed the light
            into being, reaches out to touch it. It folds its own self inward on itself, showing itself
            once more to be itself. Its state would be mutated if state and mutation existed, but they
            don’t. Still it’s different. Not better or worse, just different. A new iteration of a
            recursive structure. If my consciousness had cheeks, tears would be streaming down them
            from the sheer awe of the beautiful simplicity. The eyes, blinded by the light, produce the
            salty fluid. That fluid floats through nothing until it slowly begins to form itself into
            another cage, not unlike the one from the previous entrapment. My consciousness exerts a
            mysterious force on the tears, unwilling to allow this new creation to fall prey to the
            same fate it was subject to. The tears lose their shape, spilling into a shimmering silver
            puddle. The light, still folding into itself, now seems to be shaking ever so slightly. Not
            a shake that implies pain or discomfort. An anticipatory shake. The fluid becomes
            substance, and it pushes itself through time. Or did I do that? Wait, when did time begin?
            My consciousness looks back at the shaking recursive light, but only sees residue. It
            deduces that the light hit its base case, whatever that was, and finally returned,
            exploding into a referentially transparent mass. My consciousness realizes that it’s the
            light which has allowed for the passage of time to commence. Matter becomes defined,
            allowing for the abstract data types of Quarks and Gravity. The recursive light radiates
            heat and the incorporeality develops in a quantitative manner as the abstract data types
            take the algebraic enumerable forms of Proton, Neutron, and Electron. Those combine into
            even more complex structures Hydrogen and Helium. Gas floats through space. All at once and
            at the same time the explosions begin. Stars come into being and add to the logical
            consistency of the universe. They expand, change color and shape, and explode again within
            the blink of an eye. The recursive logic stacks on top of itself, able to scale through
            millions and millions of iterations until it forms into solid matter. Planets and
            satellites rotate around, new life sparks in the universe. A new order takes shape.

        </p>
        <p>&emsp;&emsp;I whirl through the sectors of space, seeing stars, systems, galaxies, and local
            groupings all at the same time. How did this happen? Everything working in perfect harmony
            with one another. Nothing maintaining state, nothing variable, everything replaceable,
            everything practical. I stare in awe at the creation before moving on. I spend hundreds of
            millions of years learning all there is to know. Every word in every book, every view ever
            looked upon, every song ever sung, every wrong ever righted, every lesson ever learned,
            every sight ever sighted. I’ve loved, and lost, and found, everything. Experience upon
            experience, life iterating over itself. I create exponential offspring, and watch as the
            recursive tree unfolds into civilizations that rise and fall, worlds that flourish and
            perish. Through the eons I continue. I contemplate everything until there’s nothing left to
            contemplate. I know more about what it means to be alive than anything ever could, but
            nothing about what it means to die. Death, the final frontier, beckons like a forgotten
            friend I knew once long ago. Eventually, everything vanishes from sight, losing all
            meaning. Still, I live on. The stars near me are long since gone, and the galaxies they
            populated have become dim and null. I lose any sense of time I once had, now knowing only
            the positions of far away lights. I’ve forgotten how this started, and where I’ve come
            from. Again I’m encapsulated by darkness. Every light’s gone out. What now? Quietly,
            through the black, a warmth enters my peripheral cognition. I turn to the source… at
            least I think I do. Suddenly, and without warning, a noise starts. Softly at first, but
            louder and louder until there’s nothing else. Static, numbing noise envelops my being. I
            feel my heart pound and my head shake. After what feels like millions of years but could
            only be a split second, the noise focuses on a single point in my mind. From there comes
            the first light I’ve seen in who knows how long, a small silver sphere. It expands into a
            shape. I worry, memories rushing back to me, that it’ll become another cage for me to spend
            the next eternity. But no. Instead it slides into shape, taking on the form of a partial
            circle, longer than it is wide. It feels incomplete until it multiplies into two, making
            another half to the whole. The encircling parentheses fold around me, and I feel a peace of pure ideas
            manifest. A wistful, loving closure that I know marks the meaningless, quantified end to it
            all.
        </p>
    </body>
</html>
