<!DOCTYPE html>

<html lang="en">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <head>
        <style>
            .ct-series.ct-series-p {
                stroke: #2f8c73
            }

            .ct-series.ct-series-q {
                stroke: #ff6b72
            }

            .ct-series.ct-series-r {
                stroke: #ffae00
            }

            .ct-series.ct-series-s {
                stroke: #3a5f97
            }

            .ct-series.ct-series-t {
                stroke: #a35f9a
            }

            .ct-series.ct-series-t {
                stroke: #b0af67
            }

            .ct-series.ct-series-u {
                stroke: #8134ad
            }

            .ct-series.ct-series-v {
                stroke: #5a9471
            }

            .ct-series.ct-series-w {
                stroke: #7d7d7d
            }

            .ct-series.ct-series-x {
                stroke: #202020
            }

            .ct-series.ct-series-y {
                stroke: #00c4ff
            }

            .ct-series.ct-series-z {
                stroke: #914d67
            }
        </style>
        <title>Lipson</title>
        <link rel="shortcut icon" href="#" />
    </head>
    <body>
        <h1>
            Graph TV
        </h1>
        <h4>
            Enter the name of a TV show to get metrics about it. It'll graph IMDB ratings over time, with different seasons in different colors. You can hover over the data points for additional info about each episode.
        </h4>
        <label for="graphtv-input"></label>
        <input id="graphtv-input" class="input" type="text" placeholder="TV Show" autofocus>
        <span id="loading" style="display: none">Loading...</span>
        <span id="not-found" style="display: none">TV show not found.</span>
        <h2 id="graphtv-header">
        </h2>
        <div id="charterino" style="height: 50vh" class="ct-chart ct-perfect-fourth"></div>
        <div id="tooltip" style="display: none; position: fixed; bottom: 550px; left: 50px;"></div>
        <span>Written in JavaScript
            <a href="https://github.com/blipson/benlipson.io/blob/master/app/views/graphTv.scala.html" target="_blank">Wanna see the code?</a>
        </span>
    </body>
    <script type="text/javascript">
        function makeGraph(seasons) {
            seasons.sort((a, b) => a.episodes[0].season - b.episodes[0].season);
            const seasonNumbersInYears = parseInt(seasons[0].episodes[0].seasonNumber) >= 1953; // the year the television was invented
            console.log(seasons.map((season, index) => {
                return [...seasons.reduce((acc, season) => {
                    const accLen = Object.keys(acc).length;
                    const seasonNumber = seasonNumbersInYears ?
                            (accLen >= 2 ? accLen : accLen + 1) :
                            parseInt(season.episodes[0].seasonNumber);
                    if (seasonNumber === 1) {
                        acc[seasonNumber] = [];
                        acc[seasonNumber + 1] = [...Array(season.episodes.filter(episode => episode.imDbRating !== "").length).keys()].map(() => null);
                    } else if (seasonNumber < seasonNumbersInYears ? seasons.length : seasons
                            .map(season => parseInt(season.episodes[0].seasonNumber))
                            .reduce((previousMax, curr) => Math.max(previousMax, curr), 0)) {
                        acc[seasonNumber + 1] = [...Array(season.episodes.filter(episode => episode.imDbRating !== "").length + acc[seasonNumber].length).keys()].map(() => null);
                    }
                    return acc;
                }, {})[seasonNumbersInYears ? index + 1 : season.episodes[0].seasonNumber], ...season.episodes
                        .filter(episode => episode.imDbRating !== "")
                        .map(episode => {
                            return {
                                number: `Season ${episode.seasonNumber}, Episode ${episode.episodeNumber}`,
                                rating: episode.imDbRating,
                                released: episode.released,
                                title: episode.title,
                                value: episode.imDbRating
                            }
                        })]}));
            let chart = new Chartist.Line('.ct-chart', {
                series: seasons.map((season, index) => {
                    return [...seasons.reduce((acc, season) => {
                        const accLen = Object.keys(acc).length;
                        const seasonNumber = seasonNumbersInYears ?
                                (accLen >= 2 ? accLen : accLen + 1) :
                                parseInt(season.episodes[0].seasonNumber);
                        if (seasonNumber === 1) {
                            acc[seasonNumber] = [];
                            acc[seasonNumber + 1] = [...Array(season.episodes.filter(episode => episode.imDbRating !== "").length).keys()].map(() => null);
                        } else if (seasonNumber < seasonNumbersInYears ? seasons.length : seasons
                                .map(season => parseInt(season.episodes[0].seasonNumber))
                                .reduce((previousMax, curr) => Math.max(previousMax, curr), 0)) {
                            acc[seasonNumber + 1] = [...Array(season.episodes.filter(episode => episode.imDbRating !== "").length + acc[seasonNumber].length).keys()].map(() => null);
                        }
                        return acc;
                    }, {})[seasonNumbersInYears ? index + 1 : season.episodes[0].seasonNumber], ...season.episodes
                            .filter(episode => episode.imDbRating !== "")
                            .map(episode => {
                                return {
                                    number: `Season ${episode.seasonNumber}, Episode ${episode.episodeNumber}`,
                                    rating: episode.imDbRating,
                                    released: episode.released,
                                    title: episode.title,
                                    value: episode.imDbRating
                                }
                    })];
                }),
            }, {
                low: seasons.map(season =>
                        season.episodes.reduce((previousMinThisSeason, curr) => Math.min(previousMinThisSeason.imDbRating, curr.imDbRating), 0)
                ).reduce((previousMin, curr) => Math.min(previousMin, curr), 0)
            });

            chart.on('draw', (data) => {
                if (data.type === 'point') {
                    data.element.attr({
                        title: data.series[data.index].title,
                        value: data.series[data.index].value,
                        number: data.series[data.index].number,
                        released: data.series[data.index].released,
                        rating: data.series[data.index].rating
                    });
                }
            });

            chart.on('created', () => {
                document.getElementById("loading").style.display = "none";
                document.getElementById("graphtv-input").disabled = false;
                document.getElementById("graphtv-header").innerHTML = seasons[0].title;
                const ctPoints = document.getElementsByClassName("ct-point");
                Array.from(ctPoints).map(ctPoint => {
                    const tooltip = document.getElementById("tooltip");
                    ctPoint.onmouseover = (e) => {
                        tooltip.style.top = `${e.pageY + 25}px`;
                        tooltip.style.left = `${e.pageX - 60}px`;
                        tooltip.style.display = "";
                        tooltip.innerHTML = `${ctPoint.getAttribute("title")}<br/>` +
                                `${ctPoint.getAttribute("number")}<br/>` +
                                `${ctPoint.getAttribute("released")}<br/>` +
                                `IMDB Rating: ${ctPoint.getAttribute("rating")}`;
                    }
                    ctPoint.onmouseout = (e) => {
                        tooltip.style.display = "none";
                    }
                })
            });
        }

        const searchShows = async (searchTerm) => {
            const searchResults = await fetch(`https://imdb-api.com/en/API/searchSeries/k_9fbi3vm5/${searchTerm}`).then(response => response.json());
            const matchingShow = searchResults.results.filter(show => show.title.toLowerCase() === searchTerm.toLowerCase());
            return matchingShow.length ? matchingShow[0] : {};
        }

        const getShowSeasonNumbers = async (id) => {
            const showDetailResults = await fetch(`https://imdb-api.com/en/API/Title/k_9fbi3vm5/${id}`).then(response => response.json());
            return showDetailResults.tvSeriesInfo.seasons;
        }

        const getShowSeasonDetails = async (id, seasonNumbers) => {
            return Promise.all(seasonNumbers.map(seasonNumber => {
                return fetch(`https://imdb-api.com/en/API/SeasonEpisodes/k_9fbi3vm5/${id}/${seasonNumber}`)
                        .then(response => response.json())
            }));
        }
        const graphTvInput = document.getElementById("graphtv-input");

        graphTvInput.onkeyup = async (e) => {
            if (e.code === "Enter") {
                const loading = document.getElementById("loading");
                const notFound = document.getElementById("not-found");
                loading.style.display = '';
                notFound.style.display = 'none';
                graphTvInput.disabled = true;
                const show = await searchShows(graphTvInput.value);
                if (show && Object.keys(show).length !== 0 && show.constructor === Object) {
                    getShowSeasonDetails(show.id, await getShowSeasonNumbers(show.id)).then(seasons => {
                        makeGraph(seasons);
                    });
                } else {
                    loading.style.display = 'none';
                    notFound.style.display = '';
                    graphTvInput.disabled = false;
                }
            }
        };
    </script>
</html>
