<!DOCTYPE html>

<html lang="en">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <head>
        <style>
            .ct-series.ct-series-p {
                stroke: #2f8c73
            }

            .ct-series.ct-series-q {
                stroke: #ff6b72
            }

            .ct-series.ct-series-r {
                stroke: #ffae00
            }

            .ct-series.ct-series-s {
                stroke: #3a5f97
            }

            .ct-series.ct-series-t {
                stroke: #a35f9a
            }

            .ct-series.ct-series-t {
                stroke: #b0af67
            }

            .ct-series.ct-series-u {
                stroke: #8134ad
            }

            .ct-series.ct-series-v {
                stroke: #5a9471
            }

            .ct-series.ct-series-w {
                stroke: #7d7d7d
            }

            .ct-series.ct-series-mapTotalSeasonNumberToArrayOfIndividualSeasonNumbers {
                stroke: #202020
            }

            .ct-series.ct-series-y {
                stroke: #00c4ff
            }

            .ct-series.ct-series-z {
                stroke: #914d67
            }
        </style>
        <title>Lipson</title>
        <link rel="shortcut icon" href="#" />
    </head>
    <body>
        <h1>
            Graph TV
        </h1>
        <h4>
            Enter the name of a TV show to get metrics about it. It'll graph IMDB ratings over time, with different seasons in different colors. You can hover over the data points for additional info about each episode.
        </h4>
        <label for="graphtv-input"></label>
        <input id="graphtv-input" class="input" type="text" placeholder="TV Show" autofocus>
        <span id="loading" style="display: none">Loading...</span>
        <span id="not-found" style="display: none">TV show not found.</span>
        <h2 id="graphtv-header">
        </h2>
        <div id="charterino" style="height: 50vh" class="ct-chart ct-perfect-fourth"></div>
        <div id="tooltip" style="display: none; position: fixed; bottom: 550px; left: 50px;"></div>
        <span>Written in JavaScript
            <a href="https://github.com/blipson/benlipson.io/blob/master/app/views/graphTv.scala.html" target="_blank">Wanna see the code?</a>
        </span>
    </body>
    <script type="text/javascript">
        const prependNullsForSeason = (numberOfEpisodesInPreviousSeason) => [...Array(numberOfEpisodesInPreviousSeason).keys()].map(() => null);

        const getMaxSeasonNumber = (seasons) => seasons
                .map(season => parseInt(season.episodes[0].seasonNumber))
                .reduce((previousMax, curr) => Math.max(previousMax, curr), 0);

        const getSeasonNumber = (accLen, season, seasonNumbersInYears) => seasonNumbersInYears ?
                (accLen >= 2 ? accLen : accLen + 1) :
                parseInt(season.episodes[0].seasonNumber);

        const prependNullsForSeasons = (seasons, seasonNumbersInYears) => seasons.reduce((acc, season) => {
            const seasonNumber = getSeasonNumber(Object.keys(acc).length, season, seasonNumbersInYears);
            if (seasonNumber === 1) {
                acc[seasonNumber] = prependNullsForSeason(0);
            }
            if (seasonNumber < seasonNumbersInYears ? seasons.length : getMaxSeasonNumber(seasons)) {
                acc[seasonNumber + 1] = prependNullsForSeason(season.episodes.filter(episode => episode.imDbRating !== "").length + acc[seasonNumber].length);
            }
            return acc;
        }, {});

        const defineMetadataForDataPoint = (season) => season.episodes
                .filter(episode => episode.imDbRating !== "")
                .map(episode => {
                    return {
                        number: `Season ${episode.seasonNumber}, Episode ${episode.episodeNumber}`,
                        rating: episode.imDbRating,
                        released: episode.released,
                        title: episode.title,
                        value: episode.imDbRating
                    }
                });

        const getSeasonNumberForSeries = (seasonNumbersInYears, season, index) => seasonNumbersInYears ? index + 1 : season.episodes[0].seasonNumber;

        const getSeries = (seasons, seasonNumbersInYears) => seasons.map((season, index) => [
            ...prependNullsForSeasons(seasons, seasonNumbersInYears)[getSeasonNumberForSeries(seasonNumbersInYears, season, index)],
            ...defineMetadataForDataPoint(season)
        ]);

        const getLowestImdbRatingForSeries = (seasons) => seasons.map(season =>
                season.episodes
                        .reduce((previousMinThisSeason, curr) =>
                                Math.min(previousMinThisSeason.imDbRating, curr.imDbRating), 0))
                .reduce((previousMin, curr) =>
                        Math.min(previousMin, curr), 0)

        const makeChart = (seasons) => {
            // The APIs can return season numbers either in sequential format [1, 2, 3, etc...] or in the format of the year released [2006, 2007, 2008, etc...].
            const seasonNumbersInYears = parseInt(seasons[0].episodes[0].seasonNumber) >= 1953; // the year the television was invented
            return new Chartist.Line('.ct-chart', {
                series: getSeries(seasons, seasonNumbersInYears),
            }, {
                low: getLowestImdbRatingForSeries(seasons)
            });
        }

        const handleChartDrawEvent = (data) => {
            if (data.type === 'point') {
                data.element.attr({
                    title: data.series[data.index].title,
                    value: data.series[data.index].value,
                    number: data.series[data.index].number,
                    released: data.series[data.index].released,
                    rating: data.series[data.index].rating
                });
            }
        }

        const disableElement = (element) => {
            element.disabled = true;
        }

        const enableElement = (element) => {
            element.disabled = false;
        }

        const showElement = (element) => {
            element.style.display = '';
        }

        const hideElement = (element) => {
            element.style.display = 'none';
        }

        const setContentOfElement = (element, content) => {
            element.innerHTML = content;
        }

        const graphTvInput = document.getElementById("graphtv-input");
        const loading = document.getElementById("loading");
        const notFound = document.getElementById("not-found");

        const handleDataPointHoverEvents = (dataPoint) => {
            const tooltip = document.getElementById("tooltip");
            dataPoint.onmouseover = (e) => {
                tooltip.style.top = `${e.pageY + 25}px`;
                tooltip.style.left = `${e.pageX - 60}px`;
                showElement(tooltip);
                setContentOfElement(tooltip, `${dataPoint.getAttribute("title")}<br/>` +
                        `${dataPoint.getAttribute("number")}<br/>` +
                        `${dataPoint.getAttribute("released")}<br/>` +
                        `IMDB Rating: ${dataPoint.getAttribute("rating")}`)
            }
            dataPoint.onmouseout = () => {
                hideElement(tooltip);
            }
        }

        const handleChartCreatedEvent = (seasons) => {
            hideElement(loading);
            enableElement(graphTvInput);
            setContentOfElement(document.getElementById("graphtv-header"), seasons[0].title);
            const dataPoints = document.getElementsByClassName("ct-point");
            Array.from(dataPoints).map(dataPoint => {
                handleDataPointHoverEvents(dataPoint);
            })
        }

        const makeGraph = (seasons) => {
            seasons.sort((a, b) => a.episodes[0].season - b.episodes[0].season);
            let chart = makeChart(seasons);

            chart.on('draw', (data) => {
                handleChartDrawEvent(data);
            });

            chart.on('created', () => {
                handleChartCreatedEvent(seasons);
            });
        }

        const searchShows = async (searchTerm) => {
            try {
                const matchingShow = await fetch(`https://imdb-api.com/en/API/searchSeries/k_9fbi3vm5/${searchTerm}`)
                        .then(response => response.json())
                        .results
                        .filter(show => show.title.toLowerCase() === searchTerm.toLowerCase());
                return {
                    matchingShow: matchingShow.length ? matchingShow[0] : {},
                    api: "imdb-api"
                }
            } catch (exception) {
                const matchingShow = await fetch(`https://www.omdbapi.com/?t=${searchTerm}&type=series&apikey=4f09f372`)
                    .then(response => response.json());
                return {
                    matchingShow: matchingShow.Error ? {}: matchingShow,
                    api: "omdb"
                }
            }
        }

        const getShowSeasonNumbersFromImdbApi = async (id) => {
            const showDetailResults = await fetch(`https://imdb-api.com/en/API/Title/k_9fbi3vm5/${id}`).then(response => response.json());
            return showDetailResults.tvSeriesInfo.seasons;
        }

        const getShowSeasonDetailsFromImdbApi = async (id, seasonNumbers) => {
            return Promise.all(seasonNumbers.map(seasonNumber => {
                return fetch(`https://imdb-api.com/en/API/SeasonEpisodes/k_9fbi3vm5/${id}/${seasonNumber}`)
                        .then(response => response.json())
            }));
        }

        const getShowSeasonDetailsFromOmdb = (searchTerm, seasonNumbers) => {
            return Promise.all(seasonNumbers.map(seasonNumber => {
                return fetch(`https://www.omdbapi.com/?t=${searchTerm}&Season=${seasonNumber}&type=series&apikey=4f09f372`)
                        .then(response => response.json())
            }));
        }

        const foundMatchingShow = (show) => {
            return show.matchingShow && Object.keys(show.matchingShow).length !== 0 && show.matchingShow.constructor === Object;
        }

        const mapOmdbResultsToImdbApiFormat = (seasons) => {
            return seasons.map(season => {
                return {
                    title: season.Title,
                    fullTitle: season.Title,
                    type: "TVSeries",
                    episodes: season.Episodes.map(episode => {
                        return {
                            seasonNumber: season.Season,
                            episodeNumber: episode.Episode,
                            title: episode.Title,
                            released: episode.Released,
                            imDbRating: episode.imdbRating
                        }
                    })
                }
            });
        }

        const mapTotalSeasonNumberToArrayOfIndividualSeasonNumbers = (totalSeasonNumber) => {
            return Array.from({ length: totalSeasonNumber }, (_, index) => index + 1);
        }

        const handleEnterKeyPressed = async () => {
            showElement(loading);
            hideElement(notFound);
            disableElement(graphTvInput);
            const show = await searchShows(graphTvInput.value);
            if (foundMatchingShow(show)) {
                if (show.api === "imdb-api") {
                    getShowSeasonDetailsFromImdbApi(show.matchingShow.id, await getShowSeasonNumbersFromImdbApi(show.matchingShow.id)).then(seasons => {
                        makeGraph(seasons);
                    });
                } else {
                    getShowSeasonDetailsFromOmdb(
                        graphTvInput.value,
                        mapTotalSeasonNumberToArrayOfIndividualSeasonNumbers(show.matchingShow.totalSeasons)
                    ).then(seasons => {
                        makeGraph(mapOmdbResultsToImdbApiFormat(seasons));
                    });
                }
            } else {
                hideElement(loading);
                showElement(notFound);
                enableElement(graphTvInput);
            }
        }

        graphTvInput.onkeyup = async (e) => {
            if (e.code === "Enter") {
                await handleEnterKeyPressed();
            }
        };
    </script>
</html>
