<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#" />
        <title>Lipson</title>
    </head>
    <body>
        <h1>
            On Sports
        </h1>
        <p>&emsp;&emsp;More often than not I find myself coming to the conclusion that, with regards to ethics,
            it matters less what you do, and more how you do it. Particularly how you think about whatever
            it is you’re doing. I know a lot of people who would say “but Ben, I’m a realist and a utilitarian!
            The only thing that matters is what you do and the subsequent series of events that follows as
            a result of the thing you’ve done!” These people disregard intentionality, which isn’t to be
            underestimated. But more importantly they disregard the most notable player in the inescapable,
            inexplicable, intoxicating inward journey that serves as a foundation for all ethical behavior:
            thought. Do you care enough
            to think really hard about what you’re doing, and why you’re doing it? Do you care enough to
            think really hard about those thoughts and what they mean? Do you care enough to attempt to draw
            conclusions from those thoughts and act accordingly? Utilitarian and consequentialist
            ethicists spend far too much time either wasting time over semantics
            that don’t actually matter, or rationalizing their behavior after the fact. They don’t care enough
            to think, and therefore miss the point entirely. You might say, in response to this claim, that,
            on the contrary, they think too much! They get into the weeds of the consequential results of
            their actions, before acting. This overly pragmatic analytic state of mind is not what I mean
            by “thinking”. Examining each branch in a tree of decision making as if it were some high school
            math problem does not suffice for summing up the ethical ethos that comes along with the human
            condition. The thoughts of men like Jeremy Bentham and John Stuart Mill are useful (one would
            hope utilitarianism would live up to its own name) in so far as they help guide very simple,
            day-to-day decision making, especially when it comes to the realms of enterprise and governing.
            And if you take their writing seriously and don’t misinterpret, it can be a good conduit for
            further thought. They’ve given what I find the be the only legitimate base for coming anywhere
            close to a quantifiable metric of morality, human suffering. But the utility that most people
            glean from their half-hour skim of utilitarianism ceases to be useful when confronted with any
            kind of complicated ethical question, which all ethical questions are if you care enough to think
            about them. Those that take utilitarianism as an end in itself may be able to make it through
            their life relatively happy, but they’ll never ascend to moral self-actualization. Self-actualization
            here described poorly (I can’t describe what I haven’t achieved) as becoming as ethical as one
            can possibly be. Only personal belief and thought can lead you to the peak of that mountain.
            Utilitarianism serves as an important stepping stone, a truly great foundation upon which to
            build your moral compass. But you have to actually believe it. As I stated, most who call themselves
            “utilitarians” don’t actually follow utilitarian ideals. Through story, metaphor, artistic expression,
            etc… we begin to grasp at what truly makes us human, and we begin to actually shape our ideology
            past the point of simple utilitarianism.
        </p>
        <p>&emsp;&emsp;Sports, especially modern sports, embody this concept particularly well. By and large
            the way we do sports in America exists as altogether overly extravagant and unwarranted. The
            tailgates, fireworks, marketing campaigns, etc… it’s all done with that typical grandiose American
            flare. And yet I still watch sports. What’s worse, I still enjoy watching sports. Despite the
            constant hate poured on them from members of my community (believe it or not computer science
            nerds who play Dungeons and Dragons aren’t huge on athletic competition), sports
            still speak to me. They may speak on a primal level of valuing strength, grit, and determination.
            Or perhaps on a level of sheer jealousy and outrage that I can’t do the physical feats I see
            professional athletes doing. They may just speak to me on a completely superficial level of enjoyment
            and escapism. Or all of the above. Whatever the case, at the end of the day I find myself enjoying
            sports more than I think I should.
        </p>
        <p>&emsp;&emsp;Which brings me to my big question: why shouldn’t I enjoy them? Because a bunch of nerds
            who I happen to call my friends tell me I shouldn’t? I find that answer insufficient. Though
            I trust their opinion, I’d still like to form my own. Perhaps because of the violence that they
            promote? Teaching our youth that it’s okay to hit each other as long as there’s a ball and some
            goal posts involved? But that too seems wrong. There are referees watching and enforcing fairness
            and sportsmanship. Any unwarranted act of violence gets called out. And besides, violence is
            a part of being a human. I don’t buy into the first-world idea of putting blinders on and pretending
            that violence isn’t happening or that it doesn’t exist or even that it shouldn’t exist. If anything,
            sports allow for us to express that which makes us human in a more restricted, civilized manner.
            Friedrich Nietzsche, in his book The Gay Science, said “Examine the life of the best and most
            productive men and nations, and ask yourselves whether a tree which is to grow proudly skywards
            can dispense with bad weather and storms. Whether misfortune and opposition, or every kind of
            hatred, jealousy, stubbornness, distrust, severity, greed, and violence do not belong to the
            favourable conditions without which a great growth even of virtue is hardly possible?”. There’s
            something wholly ugly about greatness. The miracles of human evolution and expansion can’t have
            possibly been realized without all of the “negative” aspects, including violence. The technology
            and other capitalist marvels that could serve to help a great number of people only exist because
            of it. So by allowing us to express these ugly aspects of greatness with fewer ramifications,
            sports help to smooth over and clean the rough, greasy, disgusting underside of our humanity
            while not hampering our growth. In fact, they may push growth even further. There are problems
            that come along with this growth and expansion, obviously. Terrible and sickening problems. Sports
            is an example of something that helps alleviate some of them.
        </p>
        <p>&emsp;&emsp;Another common complaint I hear about sports surrounds the “hero worship” of those with
            athletic ability. Some think that idolizing people who do nothing but play sports is unhealthy,
            and we should instead idolize based on the contents of people’s character. This allows sports
            stars to get away with rape, domestic abuse, child abuse, and murder, because people idolize
            them so much that in their minds sports stars couldn’t possibly do these horrible things. Not
            to mention all the money that the execs and CEOs of various sports franchises would lose if their
            players were actually held accountable for their actions. Maybe that’s why I shouldn’t enjoy
            sports. But I posit that worshipping work ethic is exactly what’s allowed for humanity to achieve
            anything at all, and that the work ethic demonstrated by professional athletes speaks to their
            character. Naturally I don’t condone the behavior of people like Ben Roethlisberger or Adrian
            Peterson; what they and many others have done is unforgivable and they absolutely should be brought
            to justice. That being said, the preferential treatment of certain people is a problem that’s
            inherent within our socio-economic system, not our games. Sports simply bring these symptoms
            of a larger problem to light. If sports were to exist in what many would consider a more ethical
            fashion, one where they were smaller, and no one idolized the players to the extent they do in
            the real world, then society would find a new group of people to idolize and to get off the hook
            whenever they did something wrong. There would be other Ben Roethlisbergers and Adrian Petersons
            out there in different arenas of life. You can’t blame the hero worship itself, you have to blame
            the container for it. Hero worship actually exists as a really positive influence on individual
            lives. I’m a big Denver Broncos fan, so obviously whenever I think about hero worship I think
            about Von Miller. When I see Von Miller I don’t see a man, I see a machine. One that shows up
            every day, does the work, puts in the time, pushes his body to its absolute limits despite the
            temporary pain it might cause him. It’s inspiring. Seeing this person who’s become an absolute
            wrecking machine awakens something within me, and, I assume, with the rest of his captive audience.
            It shows that through sheer power of will we can become greater than anything we’d ever thought
            possible before. Take that and extrapolate it to any other aspect of life and you see the appeal.
            We control our own destiny, our lives are in our hands. To me that’s beautiful. So what, then,
            is the real problem here? Why do I still feel itchy about sports and competition?
        </p>
        <p>&emsp;&emsp;Like I said the real problems with sports in America have less to do with sports themselves
            and more to do with all the other problems surrounding the sports. Thinking of sports in their
            “pure” unmarketed form, like handball as it existed in ancient Rome or something similar, doesn’t
            evoke the same discomfort that thinking of modern sports does. In popularizing sports in America
            we’ve allowed sports to become a conduit for a lot of deeper societal problems. This expands
            to a lot more problems than just hero worship and violence. One that pops into my mind has to
            do with capitalism, and income inequality. The professionals who play sports get paid way too
            much. On average, professional basketball players in the NBA make $5.15 million per year, baseball
            players in the MLB make $3.2 million, hockey players in the NHL make $2.4 million, and football
            players in the NFL make $1.9 million. Besides the fact that it’s backwards and the two coolest
            sports (hockey and football) are at the lower end of the spectrum, all the numbers are way too
            high. Humans legitimately just don’t need to make that much in any context. One of the fundamental
            concepts of my ethical belief system is to each according to their need. Unfortunately the free
            market allows for some to get far more than they need while others starve and die. We’ve solidified
            sports as a fundamental keystone in our capitalist economic system, and intertwining the two
            produces disastrous consequences on a daily basis. The competition sports offers has become indistinguishable
            from American capitalist competition, an embodiment of social darwinism. The two aren’t necessarily
            mutually inclusive, but in the case of modern society they correlate. The olympics, as an example,
            began as a phenomenon based around the essence of the bestial nature of being human, reducing
            society as a whole to an organized and civilized menagerie. That beautiful, “primitive” marvel
            of human spirit and grit transformed under capitalism into an unending quantifiable measurement
            of individual progress. Why do you think sports commentators are constantly rattling off statistics
            for individual players? It’s no longer about embracing what’s human within us at a base level,
            now it’s about the elimination of opponents through victory achieved by a markedly better result.
            Tack on the marketing, exploitation, and inequality that comes inherent in capitalism and you’ve
            got yourself a truly horrifying reality. The olympics now are a blight upon whatever city is
            unlucky enough to have the “honor” of hosting them. Cities spend huge amounts of money making
            themselves nice enough to be able to host, so much that they couldn’t possibly break even from
            the games themselves. Instead they’re left with the unused fancy new golf courses, stadiums,
            and soccer pitches that they built, costing them millions of dollars and returning nothing back
            to the community. Rio De Janeiro, the host of the 2016 olympic games, is projected to be paying
            off its debt for the next two decades at least. Meanwhile the local civilians of these cities,
            many of whom are already not very well off, struggle even more than they otherwise would have.
            All so America, China, Russia, and other superpower nations can carry home more shiny necklaces.
            It’s sickening, there’s no getting around it. As long as capitalism, particularly global capitalism,
            exists sports will be a struggle for survival for the poorer nations and athletes, and a struggle
            for dominance for the richer nations and athletes. The purpose is no longer the preservation
            of the human spirit through grit and determination, as would’ve been the case with wrestlers,
            swimmers, runners, weightlifters, etc... in Ancient Sumer, Egypt, Greece, and even Rome (though
            that’s where it began its descent with the advent of chariot racing and gladiator battles that
            often involved slavery). It’s now the preservation of the ruling order through measurable domination.
        </p>
        <p>&emsp;&emsp;Further proof of the ethical abasement of sports and athletic competition lies within
            the education systems in this country. Examining amateur, or pre-professional as I like to call
            them, sports within our schools reveals that we can draw the similar conclusions surrounding
            capitalism and profit-driven enterprise as the main negative influence. Sports-oriented universities,
            colloquially referred to as the “Big 10” schools, rake in cash on the backs of the labor of their
            student athletes. They pulled in $315 million in 2012 from sporting events alone, which excludes
            merchandise sales and god knows what else. The students who actually do the work, put in the
            time, and make themselves eligible candidates for the hero worship I was talking about earlier
            get paid nothing. How is it that they get paid nothing when professional athletes can be so grossly
            overpaid? It’s obvious to me that were the owners of professional sports franchises given the
            opportunity, they would undoubtedly be happy to pay their employees nothing. The owners of colleges
            are no different, they’ve simply found a better way to game the system. All they have to do is
            wrap a school around their disgusting business and suddenly they’re free to exploit the labor
            of the athletes while consuming all of the surplus value for themselves. Sure the athletes may
            get reimbursement in the form of education (only about 70% of the students do), but that seems
            to me like further means of entrapment. How could they possibly keep that system going? Wouldn’t
            people see through the facade? No! Because again, sports are ingrained within our socio-economic
            system so far that they’ve wedged themselves into our ethical system as well. We brainwash children
            from a young age and force them to think that sports are everything, sports are what you should
            strive towards, sports are what you should be doing after school, all day, every day. It doesn’t
            take long for it to become an activity that they do in school, for the school. The transition
            is so fluid that they don’t even realize they’re doing it for free. It’s a strange case of Stockholm
            syndrome where the captives don’t even know that they’re captives. We build our entire social
            hierarchy around this abhorrent reality and normalize the exploitation at the expense of those
            doing the work so that a few higher-ups within the business of college can continue to line their
            pockets with the blood, sweat, and tears of the students they claim to be helping. For sports
            to even flirt with ethics, they need to be eliminated from education. We have to make them
            extra-curricular, divorce them from schools, and actually pay the people who are providing the
            value.
        </p>
        <p>&emsp;&emsp;Besides education other problematic aspects prevail within modern sports surrounding
            rivalries and the strange and unhealthy dynamic they provoke. If you’ve ever seen a Boston Red
            Sox fan talk about people from New York you know what I’m talking about. People make large sweeping
            judgment about entire regions, even within the same country, without knowing anything about the
            people or culture from those regions, and immediately cast judgment upon them. When fist fights
            break out simply because one person supports Team A and another supports Team B, when it gets
            ingrained from a young age that people from your rival city are bad no matter what, that’s when
            you know there’s something wrong. But even past the sheer physical violence of it all, there’s
            something more. A strange sub-nationalistic ethos that promotes a “we can do no wrong” mentality.
            Implemented in large part by the owners and organizers of the various sports associations and
            franchises, rivalries primarily exist again as a way to line the pockets of the proverbial bourgeoisie.
            They pit fans against one another, fostering violence and unhealthy attitudes, so that people
            will spend more money on tickets, jerseys, stadiums, and whatever else. It’s all just a way of
            expanding the business. And sure, the excitement that rivalries bring to sports can help make
            it more entertaining for the viewer. It could be argued that the surplus value sports
            generates is a direct result of it being a more compelling product. But is it really worth it?
            For the hatred of violence, for the uncanny pack mentality, for the cult-like brainwashing that
            occurs? To me, it can’t be worth it, not so long as sports exist as a giant corporate money-making
            machine. The worst aspect is that rivalries, being inherently exiting, tend to attract people
            who otherwise wouldn’t get excited about athletics for any reason. They could’ve been introduced
            to sports as a way of expressing their humanity, instead they see it only as a way to hate on
            other states, cities, and towns.
        </p>
        <p>&emsp;&emsp;So while some might argue that sports in America have a net positive influence on the
            world through the excitement and entertainment they provide, and others might argue that sports
            in America have a net negative influence through the violence and hero worship they promote,
            there actually exists a much more prominent ethical culture surrounding athletic competition.
            One that’s based in raw traditionalist capitalist profiteering. My hope is that you, reader,
            will look past the surface level of ethical dialect and instead see the culture, expression,
            and environment that sports occupy. I don’t hate sports, if you got that idea from reading this
            post then you need to go back and read it again. On the contrary I love athletics. I encourage
            all to forever expel the idea of sports fans as being sloppy, violent people, and sports as being
            a conduit for the moral degradation of society. On the contrary, society is a conduit for the
            moral degradation of sports.
        </p>
        <h3>
            Sources
        </h3>
        <ul>
            <li>
                <a target="_blank" href="https://www.utilitarianism.com/utilitarianism.html">
                    An Overview of Utilitarianism.
                </a>
            </li>
            <li>
                <a target="_blank" href="http://bleacherreport.com/articles/367924-violence-and-aggression-in-sports-an-in-depth-look-part-one">
                    Violence and Aggression in Sports: An In-Depth Look.
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.amazon.com/Nietzsche-Science-Appendix-Cambridge-Philosophy/dp/0521631599">
                    The Gay Science.
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.sportingnews.com/other-sports/news/are-professional-athletes-worthy-of-the-hero-worship-they-receive/mwq5kurpt8y314lj6veu9a0cd">
                    Are Professional Athletes Worthy of the Hero Worship They Receive?
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.mensjournal.com/sports/linebacker-training-von-millers-high-intensity-football-workout/">
                    Linebacker Training: Von Miller's High-Intensity Football Workout.
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.huffingtonpost.com/visualnewscom/visualizing-the-yearly-sa_b_4184716.html">
                    Visualizing the Yearly Salary of Professional Athletes.
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.usatoday.com/story/sports/olympics/2017/07/05/rio-olympics-look-to-ioc-for-help-with-40-million-debt/103439402/">
                    Rio Olympics Organizers Seeking IOC Help With Debt.
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.psychologytoday.com/us/blog/promoting-empathy-your-teen/201109/why-sports-programs-dont-belong-in-high-schools-and-colleges">
                    Why Sports Programs Don't Belong in High Schools and Colleges.
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.businessinsider.com/ncaa-schools-college-sports-revenue-2016-10">
                    NCAA College Sports Revenue.
                </a>
            </li>
            <li>
                <a target="_blank" href="https://robertparness.wordpress.com/2012/11/02/rivalries-in-sports-bring-passion-problems/">
                    Rivalries in Sports Bring Passion Problems.
                </a>
            </li>
        </ul>
    </body>
</html>
